
h1 {
    font: bold 2em "Jua";
    text-align: center;
}

@media all and (min-width:1024px) {
    body {
        background: url("../photo/div_img/beauty2.jpg")no-repeat;
        background-size: cover;
    }

    h1 {
        color: #f00;
    }
}
@media all and (min-width:761px) and (max-width:1024px){
    body{
        background-color: orange;
    }
    h1{
        background-color: aqua;
        color: blue;
    }
}

@media all and (max-width:761px){
    body{
        background: black;
    }
    h1{
        transform: rotate(600deg);
        transition: all 3s;
        color: white;
    }
}

